
@{
    ViewData["Title"] = "UserDetailsPage";
}
<h2>Uw Accountsoverzicht voor deze bestelling:</h2>
@if (ViewBag.Bool == "true")
{
<div>
    Het Emailadres waar de GameKeys naartoe worden verstuurd:
    <br />
    <br />
    @ViewBag.Email
    <br />
    <br />
    <br />
    <br />
    @Html.ActionLink("Of kies een ander Emailadres", "DifferentEmail", "Order")
    <br />
    <br />
    @Html.ActionLink("Betalen", "UserPayment", "Order")
</div>
}
else
{
<div>
    Je bent niet ingelogd.
    <br />
    <br />
    @Html.ActionLink("Log hier in", "Account/Login", "Identity")
    <br />
    <br />
    @Html.ActionLink("Of ga door als bezoeker en vul een Emailadres in", "DifferentEmail", "Order")
</div>
}