@model project_c.Models.Game

@{
    ViewData["Title"] = "Delete";
}

<h2>Verwijderen</h2>

<h3>Weet je zeker dat je deze game wilt verwijderen?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pegi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pegi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProducingCompany)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProducingCompany)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Verwijderen" class="btn btn-default" /> |
        <a asp-action="Index">Terug naar de lijst</a>
    </form>
</div>
