@model project_c.Models.Game

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Game</h4>
    <hr />
    <table>
        <td>
            <img src=@ViewBag.thumbnailSource alt="image" />
        </td>
        <td>
            <dl class="dl-horizontal">
                <dt>
                    Titel
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Genre)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Genre)
                </dd>
                <dt>
                    Minimale leeftijd
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Pegi)
                </dd>
                <dt>
                    Game beschrijving
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt>
                    Prijs
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>
                <dt>
                    Producent
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ProducingCompany)
                </dd>
            </dl>
        </td>
    </table>
</div>
<div>
    <a asp-action="Index">Back to List</a>
    <br />
    @if (ViewBag.IsAdmin == "false")
    {
        <a asp-action="OrderNow" asp-controller="ShoppingCart" asp-route-id="@Model.Id">Toevoegen</a>
    }

    @if (ViewBag.IsAdmin == "true")
    {
        <a asp-action="Edit" asp-controller="Games" asp-route-id="@Model.Id">Bewerken</a>
        <a asp-action="Delete" asp-controller="Games" asp-route-id="@Model.Id">Verwijderen</a>
    }

</div>
